*xonshrc text linguist-language=Python
*.xsh text linguist-language=Python
home/.local/bin/dust filter=lfs diff=lfs merge=lfs -text
home/.local/bin/fish_indent filter=lfs diff=lfs merge=lfs -text
home/.local/bin/nvim filter=lfs diff=lfs merge=lfs -text
home/.local/bin/yazi filter=lfs diff=lfs merge=lfs -text
home/.local/bin/uv filter=lfs diff=lfs merge=lfs -text
home/.local/bin/7zz filter=lfs diff=lfs merge=lfs -text
home/.local/bin/btop filter=lfs diff=lfs merge=lfs -text
home/.local/bin/fish filter=lfs diff=lfs merge=lfs -text
home/.local/bin/starship filter=lfs diff=lfs merge=lfs -text
home/.local/bin/7zzs filter=lfs diff=lfs merge=lfs -text
home/.local/bin/fzf filter=lfs diff=lfs merge=lfs -text
home/.local/bin/lazygit filter=lfs diff=lfs merge=lfs -text
home/.local/bin/zoxide filter=lfs diff=lfs merge=lfs -text
home/.local/bin/fish_key_reader filter=lfs diff=lfs merge=lfs -text
home/.local/bin/uvx filter=lfs diff=lfs merge=lfs -text
home/.local/bin/ya filter=lfs diff=lfs merge=lfs -text
home/.local/bin/ filter=lfs diff=lfs merge=lfs -text
home/.local/bin/fd filter=lfs diff=lfs merge=lfs -text
